<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div><br><a th:insert="~{/fragments/menu :: #nav-menu}"></a><br></div>
</head>


<body>

<h2> Only for owner </h2>

<br><br>
<b th:text="${userInfo}"></b>

</body>
</html>

<style>
    .inline {
        display: inline;
    }

    .link-button {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1em;
        font-family: serif;
    }

    .link-button:focus {
        outline: none;
    }

    .link-button:active {
        color: red;
    }
</style>