<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div><br><a th:insert="~{/fragments/menu :: #nav-menu}"></a><br></div>
</head>


<body>
<div>

<form th:method="POST" th:action="@{/users/profile}" th:object="${person}">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br><br>

    <label for="phoneNumber">Phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number Error
    </div>
    <br><br>

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br><br>

    <label for="address">Delivery Address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <br><br>

    <label for="password">Enter an existing password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Old password Error</div>
    <br><br>

    <h3> Changing the password </h3>
    If you want to change your password,
    <label for="passwordConfirm">enter a new password: </label>
    <input type="text" th:field="*{passwordConfirm}" id="passwordConfirm"/>
    <div style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">New password Error</div>
    <br><br>

    <input type="submit" value="Change password"/>

    <br><br>
    <div><a style="color:#0000FF" th:utext="${message}"></a></div>
</form>

    <form th:method="DELETE" th:action="@{/users/profile/delete}" th:object="${person}">
        <h3> Deleting an account </h3>
        If you want to delete your account,
        <label for="phoneNumber">enter your phone number: </label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumberDel"/>
        <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number Error
        </div>
        <br><br>

        <label for="passwordConfirm">confirm your password: </label>
        <input type="text" th:field="*{password}" id="passwordDel"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br><br>
        <input type="submit" value="Delete account"/>
    </form>

</div>
</body>
</html>

<style>
    .inline {
        display: inline;
    }

    .link-button {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1em;
        font-family: serif;
    }

    .link-button:focus {
        outline: none;
    }

    .link-button:active {
        color: red;
    }
</style>